Sources/FACCTS.Server.Integration/Service References/IntegrationWCFServiceRef/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/FACCTS.WCFService/IntegrationService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FACCTS.Server.Model.DataModel" />
  <xs:element name="InsertManualIntegrationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FACCTS.Server.Model.DataModel" minOccurs="0" name="task" nillable="true" type="q1:ManualIntegrationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertManualIntegrationTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateManualIntegrationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FACCTS.Server.Model.DataModel" minOccurs="0" name="task" nillable="true" type="q2:ManualIntegrationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateManualIntegrationTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManualIntegrationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FACCTS.Server.Model.DataModel" minOccurs="0" name="task" nillable="true" type="q3:ManualIntegrationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManualIntegrationTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManualIntegrationTaskById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteManualIntegrationTaskByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduledIntegrationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FACCTS.Server.Model.DataModel" minOccurs="0" name="task" nillable="true" type="q4:ScheduledIntegrationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScheduledIntegrationTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduledIntegrationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FACCTS.Server.Model.DataModel" minOccurs="0" name="task" nillable="true" type="q5:ScheduledIntegrationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScheduledIntegrationTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduledIntegrationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FACCTS.Server.Model.DataModel" minOccurs="0" name="task" nillable="true" type="q6:ScheduledIntegrationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduledIntegrationTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduledIntegrationTaskById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScheduledIntegrationTaskByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>