Docs & Requirements/CCPOR_docs/DSP917_2.0.0.2/SOAP/CAJUD/DSP917/V_2_0_0/ConcreteWSDLs/DSP917CAJUDResp_Concrete.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="https://isb.srv.courts-tc.ca.gov/portal/cajud/schema/ALL/DSP917CAJUDResp_Concrete/1.0.0/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://isb.srv.courts-tc.ca.gov/portal/cajud/Schema/DSP917CAJUDRespInput/2.0.0/xsd" xmlns:ns1="http://isb.srv.courts-tc.ca.gov/portal/cajud/Schema/DSP917CAJUDRespOutput/1.0.0/xsd" xmlns:ns2="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Response/1.0.0" xmlns:ns3="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:ns4="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:ns5="https://isb.srv.courts-tc.ca.gov/portal/cajud/schema/dsp917resp/2.0.0/xsd" xmlns:ns6="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Error/1.0.0" xmlns:ns7="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:ns8="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/2.0.0" xmlns:ns9="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/AdditionalParams/1.0.0" xmlns:ns10="http://niem.gov/niem/niem-core/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" name="Untitled" targetNamespace="https://isb.srv.courts-tc.ca.gov/portal/cajud/schema/ALL/DSP917CAJUDResp_Concrete/1.0.0/wsdl">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnsresp="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Response/1.0.0" targetNamespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Response/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="ISBCommonResponseMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Status" type="xsd:string"/>
                        <xsd:element name="Message" type="xsd:string"/>
                        <xsd:element name="DocumentId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CorrelationId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SequenceId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ISBTransactionId" type="xsd:string"/>
                        <xsd:element name="TimeStamp" type="xsd:dateTime"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <schema xmlns:i="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:s="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" version="alpha2" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <import namespace="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <annotation>
                <appinfo>
                    <i:resource i:name="Object"/>
                </appinfo>
            </annotation>
            <annotation>
                <appinfo>
                    <i:resource i:name="Association"/>
                </appinfo>
            </annotation>
            <complexType name="AugmentationType" abstract="true">
                <attribute ref="s:id"/>
                <attribute ref="s:metadata"/>
            </complexType>
            <complexType name="ComplexObjectType" abstract="true">
                <attribute ref="s:id"/>
                <attribute ref="s:linkMetadata"/>
                <attribute ref="s:metadata"/>
            </complexType>
            <complexType name="MetadataType" abstract="true">
                <attribute ref="s:id"/>
            </complexType>
            <complexType name="ReferenceType">
                <attribute ref="s:id"/>
                <attribute ref="s:linkMetadata"/>
                <attribute ref="s:ref"/>
            </complexType>
            <element name="Augmentation" abstract="true" type="s:AugmentationType"/>
            <element name="Metadata" abstract="true" type="s:MetadataType"/>
            <attribute name="id" type="ID"/>
            <attribute name="linkMetadata" type="IDREFS"/>
            <attribute name="metadata" type="IDREFS"/>
            <attribute name="ref" type="IDREF"/>
            <attribute name="sequenceID" type="integer"/>
            <attributeGroup name="SimpleObjectAttributeGroup">
                <attribute ref="s:id"/>
                <attribute ref="s:linkMetadata"/>
                <attribute ref="s:metadata"/>
            </attributeGroup>
        </schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tnserr="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Error/1.0.0" xmlns:tnsresp="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Response/1.0.0" xmlns:dsp917cajudresp="https://isb.srv.courts-tc.ca.gov/portal/cajud/schema/dsp917resp/2.0.0/xsd" xmlns:dsp917cajudrespip="http://isb.srv.courts-tc.ca.gov/portal/cajud/Schema/DSP917CAJUDRespInput/2.0.0/xsd" xmlns:tnshdr="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/2.0.0" xmlns:tnsap="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/AdditionalParams/1.0.0" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/cajud/Schema/DSP917CAJUDRespInput/2.0.0/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/2.0.0"/>
            <xs:import namespace="https://isb.srv.courts-tc.ca.gov/portal/cajud/schema/dsp917resp/2.0.0/xsd"/>
            <xs:import namespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/AdditionalParams/1.0.0"/>
            <xs:element name="DSP917CAJUDRespInput">
                <xs:annotation>
                    <xs:documentation>The root node for response message encapsulating the technical header and business payload.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tnshdr:ISBCommonServiceHeader"/>
                        <xs:element ref="dsp917cajudresp:ProductExchangePackage">
                            <xs:annotation>
                                <xs:documentation>An SOA/Exchange wrapper to provide a common base and structure for CAJUD Exchanges.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element ref="tnsap:AdditionalParams" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:i="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" targetNamespace="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" version="1" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:import namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:import namespace="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:annotation>
                <xsd:documentation>Proxy types that carry dictionary metadata and have XML data type simple contents.</xsd:documentation>
                <xsd:appinfo>
                    <i:ConformantIndicator>true</i:ConformantIndicator>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType name="base64Binary">
                <xsd:annotation>
                    <xsd:documentation>A data type for Base64-encoded binary data.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:base64Binary">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="date">
                <xsd:annotation>
                    <xsd:documentation>A data type for a calendar date with the format CCYY-MM-DD.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:date">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="dateTime">
                <xsd:annotation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:dateTime">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="decimal">
                <xsd:annotation>
                    <xsd:documentation>A data type for arbitrary precision decimal numbers.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:decimal">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="gYear">
                <xsd:annotation>
                    <xsd:documentation>A data type for a Gregorian calendar year with the format CCYY.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:gYear">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation>A data type for an integer with a minimum value of 0.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:nonNegativeInteger">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="string">
                <xsd:annotation>
                    <xsd:documentation>A data type for character strings in XML.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:complexType name="time">
                <xsd:annotation>
                    <xsd:documentation>A data type for an instant of time with the format hh:mm:ss.sss.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="Object" i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="xsd:time">
                        <xsd:attribute ref="s:id"/>
                        <xsd:attribute ref="s:linkMetadata"/>
                        <xsd:attribute ref="s:metadata"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:sresp="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:cajudresp="https://isb.srv.courts-tc.ca.gov/portal/cajud/schema/dsp917resp/2.0.0/xsd" xmlns:ncresp="http://niem.gov/niem/niem-core/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:iresp="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:niem-xsdresp="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" targetNamespace="https://isb.srv.courts-tc.ca.gov/portal/cajud/schema/dsp917resp/2.0.0/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:import namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:import namespace="http://niem.gov/niem/niem-core/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:import namespace="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:complexType name="CaseRestrainingOrderType">
                <xsd:annotation>
                    <xsd:documentation>A data type for a set of details of the restraining order.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="sresp:ComplexObjectType">
                        <xsd:sequence>
                            <xsd:element ref="ncresp:ActivityCategoryText">
                                <xsd:annotation>
                                    <xsd:documentation>A kind of activity.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ErrorInformationType">
                <xsd:annotation>
                    <xsd:documentation>A description of an application error in human and machine readable form.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="sresp:ComplexObjectType">
                        <xsd:sequence>
                            <xsd:element ref="cajudresp:ErrorInformationMessageCode">
                                <xsd:annotation>
                                    <xsd:documentation>A code value describing the error.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element ref="cajudresp:ErrorInformationMessageText">
                                <xsd:annotation>
                                    <xsd:documentation>A human readable error message.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="OrderIdentificationType">
                <xsd:annotation>
                    <xsd:documentation>A data type for the system-generated unique identifier of an order.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="sresp:ComplexObjectType">
                        <xsd:sequence>
                            <xsd:element ref="ncresp:IdentificationID">
                                <xsd:annotation>
                                    <xsd:documentation>A value that identifies something.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ProductExchangeErrorActivityType">
                <xsd:annotation>
                    <xsd:documentation>An activity that describes an error event that occurred.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="sresp:ComplexObjectType">
                        <xsd:sequence>
                            <xsd:element ref="cajudresp:ErrorInformation" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:documentation>A description of an application error in human and machine readable form.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ProductExchangePackageType">
                <xsd:annotation>
                    <xsd:documentation>An SOA/Exchange wrapper to provide a common base and structure for CAJUD Exchanges.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="sresp:ComplexObjectType">
                        <xsd:choice>
                            <xsd:element ref="cajudresp:ProductExchangeErrorActivity">
                                <xsd:annotation>
                                    <xsd:documentation>An activity that describes an error event that occurred.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element ref="cajudresp:ProductExchangeResponseActivity">
                                <xsd:annotation>
                                    <xsd:documentation>An activity of delivering a product and/or its content bases on a query and or request.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:choice>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ProductExchangeResponseActivityType">
                <xsd:annotation>
                    <xsd:documentation>An activity of delivering a product and/or its content bases on a query and or request.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexContent>
                    <xsd:extension base="sresp:ComplexObjectType">
                        <xsd:sequence>
                            <xsd:element ref="cajudresp:ControlNumber" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>A unique identifier for the Restraining Order in CLETS.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element ref="cajudresp:OrderIdentification">
                                <xsd:annotation>
                                    <xsd:documentation>A system-generated unique identifier of an order.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element ref="cajudresp:CaseRestrainingOrder" minOccurs="0">
                                <xsd:annotation>
                                    <xsd:documentation>A data concept for a set of details of the restraining order.</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:element name="CaseRestrainingOrder" type="cajudresp:CaseRestrainingOrderType">
                <xsd:annotation>
                    <xsd:documentation>A data concept for a set of details of the restraining order.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ControlNumber">
                <xsd:annotation>
                    <xsd:documentation>A unique identifier for the Restraining Order in CLETS.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="ncresp:TextType">
                            <xsd:maxLength value="2000"/>
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInformation" type="cajudresp:ErrorInformationType">
                <xsd:annotation>
                    <xsd:documentation>A description of an application error in human and machine readable form.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ErrorInformationMessageCode">
                <xsd:annotation>
                    <xsd:documentation>A code value describing the error.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="ncresp:TextType">
                            <xsd:maxLength value="50"/>
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ErrorInformationMessageText">
                <xsd:annotation>
                    <xsd:documentation>A human readable error message.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="ncresp:TextType">
                            <xsd:maxLength value="250"/>
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="OrderIdentification" type="cajudresp:OrderIdentificationType">
                <xsd:annotation>
                    <xsd:documentation>A system-generated unique identifier of an order.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ProductExchangeErrorActivity" type="cajudresp:ProductExchangeErrorActivityType">
                <xsd:annotation>
                    <xsd:documentation>An activity that describes an error event that occurred.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ProductExchangePackage" type="cajudresp:ProductExchangePackageType">
                <xsd:annotation>
                    <xsd:documentation>An SOA/Exchange wrapper to provide a common base and structure for CAJUD Exchanges.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ProductExchangeResponseActivity" type="cajudresp:ProductExchangeResponseActivityType">
                <xsd:annotation>
                    <xsd:documentation>An activity of delivering a product and/or its content bases on a query and or request.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tnserr="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Error/1.0.0" targetNamespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Error/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="ISBCommonErrorMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ExceptionCode" type="xs:string"/>
                        <xs:element name="ExceptionMessage" type="xs:string" minOccurs="0"/>
                        <xs:element name="ExceptionDetails" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="StackTrace" type="xs:string"/>
                                    <xs:element name="Msg" type="xs:string"/>
                                    <xs:element name="FullClass" type="xs:string"/>
                                    <xs:element name="Class" type="xs:string"/>
                                    <xs:element name="Data" type="xs:anyType" minOccurs="0"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tnserr="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Error/1.0.0" xmlns:tnsresp="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Response/1.0.0" xmlns:dsp917cajudrespop="http://isb.srv.courts-tc.ca.gov/portal/cajud/Schema/DSP917CAJUDRespOutput/1.0.0/xsd" targetNamespace="http://isb.srv.courts-tc.ca.gov/portal/cajud/Schema/DSP917CAJUDRespOutput/1.0.0/xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:import namespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Error/1.0.0"/>
            <xs:import namespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/Response/1.0.0"/>
            <xs:element name="DSP917CAJUDRespOutput">
                <xs:annotation>
                    <xs:documentation>The root node for response message encapsulating the technical response.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:choice>
                        <xs:element ref="tnserr:ISBCommonErrorMessage"/>
                        <xs:element ref="tnsresp:ISBCommonResponseMessage"/>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:i="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:s="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" targetNamespace="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" version="1" elementFormDefault="unqualified" attributeFormDefault="qualified">
            <xsd:annotation>
                <xsd:documentation>The appinfo schema provides support for high level
    data model concepts and additional syntax to support the NIEM
    conceptual model and validation of NIEM-conformant
    instances.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="AppliesTo">
                <xsd:annotation>
                    <xsd:documentation>The AppliesTo element is used in two ways. First,
      it indicates the set of types to which a metadata type may be
      applied. Second, it indicates the set of types to which an
      augmentation element may be applied.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" use="required" type="xsd:NCName"/>
                    <xsd:attribute name="namespace" type="xsd:anyURI"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Base">
                <xsd:annotation>
                    <xsd:documentation>The Base element provides a mechanism for
      indicating base types and base elements in schema, for the cases in
      which XML Schema mechanisms are insufficient. For example, it is used
      to indicate Object or Association bases.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" use="required" type="xsd:NCName"/>
                    <xsd:attribute name="namespace" type="xsd:anyURI"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConformantIndicator" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>The ConformantIndicator element may be used in two
      ways. First, it is included as application information for a schema
      document element to indicate that the schema is NIEM-conformant.
      Second, it is used as application information of a namespace import
      to indicate that the schema is not
      NIEM-conformant.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Deprecated">
                <xsd:annotation>
                    <xsd:documentation>The Deprecated element provides a method for
      identifying components as being deprecated. A deprecated component is
      one which is provided, but whose use is not
      recommended.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="value" use="required">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean">
                                <xsd:pattern value="true"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:attribute>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ExternalAdapterTypeIndicator" type="xsd:boolean">
                <xsd:annotation>
                    <xsd:documentation>The ExternalAdapterTypeIndicator element indicates
      that a complex type is an external adapter type. Such a type is one
      that is composed of elements and attributes from non-NIEM-conformant
      schemas. The indicator allows schema processors to switch to
      alternative processing modes when processing NIEM-conformant versus
      non-NIEM-conformant content.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReferenceTarget">
                <xsd:annotation>
                    <xsd:documentation>The ReferenceTarget element indicates a NIEM type
      which may be a target (that is, a destination) of a NIEM reference
      element. It may be used in combinations to indicate a set of valid
      types.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" use="required" type="xsd:NCName"/>
                    <xsd:attribute name="namespace" type="xsd:anyURI"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Resource">
                <xsd:annotation>
                    <xsd:documentation>The Resource element provides a method for
      application information to define a name within a schema, without the
      name being bound to a schema component. This is used by the
      structures schema to define names for structures:Object and
      structures:Association.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:attribute name="name" use="required" type="xsd:NCName"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tnshdr="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/2.0.0" targetNamespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/2.0.0" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <element name="ISBCommonServiceHeader">
                <complexType>
                    <sequence>
                        <element name="Source" type="xsd:string"/>
                        <element name="Target" type="xsd:string" minOccurs="0"/>
                        <element name="InterfaceName" type="xsd:string"/>
                        <element name="DocumentType" type="xsd:string"/>
                        <element name="DocumentId" type="xsd:string" minOccurs="0"/>
                        <element name="CorrelationId" type="xsd:string" minOccurs="0"/>
                        <element name="DistributionId" type="xsd:string" minOccurs="0"/>
                        <element name="ISBTransactionId" type="xsd:string"/>
                        <element name="Environment" type="xsd:string"/>
                        <element name="Hostname" type="xsd:string"/>
                        <element name="TimeStamp" type="xsd:dateTime"/>
                        <element name="CourtCd" type="xsd:string" minOccurs="0"/>
                        <element name="UserId" type="xsd:string" minOccurs="0"/>
                        <element name="RoutingInfo" minOccurs="0" maxOccurs="unbounded">
                            <complexType>
                                <sequence>
                                    <element name="Name" type="xsd:string"/>
                                    <element name="Value" type="xsd:string"/>
                                </sequence>
                            </complexType>
                        </element>
                        <element name="SequencingInfo" minOccurs="0">
                            <complexType>
                                <sequence>
                                    <element name="Id" type="xsd:string"/>
                                    <element name="RelatedSequenceId" type="xsd:string"/>
                                    <element name="GroupId" type="xsd:string"/>
                                </sequence>
                            </complexType>
                        </element>
                    </sequence>
                </complexType>
            </element>
        </schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tnsap="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/AdditionalParams/1.0.0" targetNamespace="https://isb.srv.courts-tc.ca.gov/portal/isb/schema/ALL/ISBServices/CommonServices/AdditionalParams/1.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="AdditionalParams">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ReplayParameters" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TTL" type="xs:integer" minOccurs="0"/>
                                    <xs:element name="Destination" type="xs:string" minOccurs="0"/>
                                    <xs:element name="MaxReplayCount" type="xs:integer" minOccurs="0"/>
                                    <xs:element name="ReplaySchedule" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element ref="tnsap:ScheduleHMS" minOccurs="0"/>
                                                <xs:element name="ScheduleDateTime" type="xs:dateTime" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="CutOffSchedule" minOccurs="0">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element ref="tnsap:ScheduleHMS" minOccurs="0"/>
                                                <xs:element name="CutOffDateTime" type="xs:dateTime" minOccurs="0"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="NVPairs" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Name" type="xs:string"/>
                                    <xs:element name="Value" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ScheduleHMS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Hours" type="xs:integer"/>
                        <xs:element name="Minutes" type="xs:integer"/>
                        <xs:element name="Seconds" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" xmlns:i="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" targetNamespace="http://niem.gov/niem/niem-core/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response" version="1" elementFormDefault="unqualified" attributeFormDefault="unqualified">
            <xsd:import namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:import namespace="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
            <xsd:annotation>
                <xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components.  The identities for U and C components in Core are maintained with metadata.</xsd:documentation>
                <xsd:appinfo>
                    <i:ConformantIndicator>true</i:ConformantIndicator>
                </xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType name="TextType">
                <xsd:annotation>
                    <xsd:documentation>A data type for a character string.</xsd:documentation>
                    <xsd:appinfo>
                        <i:Base i:name="string" i:namespace="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Response"/>
                    </xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleContent>
                    <xsd:extension base="niem-xsd:string"/>
                </xsd:simpleContent>
            </xsd:complexType>
            <xsd:element name="ActivityCategoryText" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>A kind of activity.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="nc:TextType"/>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="IdentificationID" nillable="true">
                <xsd:annotation>
                    <xsd:documentation>A value that identifies something.</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:simpleContent>
                        <xsd:restriction base="niem-xsd:string">
                            <xsd:maxLength value="50"/>
                        </xsd:restriction>
                    </xsd:simpleContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="DSP917RespIBAdapter">
        <wsdl:port name="RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceHTTPSEndpointBinding" binding="tns:RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceHTTPSEndpointBindingBinding">
            <soap:address location="https://localhost:25301/portal/cajud/Schema/DSP917CAJUDResp/1.0.0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceInterface">
        <wsdl:operation name="Notify">
            <wsdl:input message="tns:NotifyInput"/>
            <wsdl:output message="tns:NotifyOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceHTTPSEndpointBindingBinding" type="tns:RestrainingOrderIssuanceCancelUpdateNotificationResponseServiceInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Notify">
            <soap:operation style="document" soapAction="/portal/cajud/Schema/DSP917CAJUDResp/1.0.0"/>
            <wsdl:input>
                <soap:body use="literal" parts="input"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="output"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="NotifyInput">
        <wsdl:part name="input" element="ns0:DSP917CAJUDRespInput"/>
    </wsdl:message>
    <wsdl:message name="NotifyOutput">
        <wsdl:part name="output" element="ns1:DSP917CAJUDRespOutput"/>
    </wsdl:message>
</wsdl:definitions>