Docs & Requirements/CCPOR_docs/DSP917_2.0.0.2/SchemaDefinitions/CAJUD/DSP917/V_2_0_0/Request/niem/niem-core/2.0/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 (x64) (http://www.altova.com) by Edmund (Judicial Council of California) -->
<xsd:schema xmlns:s="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nc="http://niem.gov/niem/niem-core/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" xmlns:niem-xsd="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" xmlns:i="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" targetNamespace="http://niem.gov/niem/niem-core/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" version="1">
	<xsd:annotation>
		<xsd:documentation>NIEM Core includes both Universal (U) and Common (C) components. The identities for U and C components in Core are maintained with metadata.
		</xsd:documentation>
		<xsd:appinfo>
			<i:ConformantIndicator>true</i:ConformantIndicator>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:import namespace="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" schemaLocation="../../proxy/xsd/2.0/xsd.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/appinfo/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" schemaLocation="../../appinfo/2.0/appinfo.xsd"/>
	<xsd:import namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" schemaLocation="../../structures/2.0/structures.xsd"/>
	<xsd:complexType name="AddressType">
		<xsd:annotation>
			<xsd:documentation>A data type for a geophysical location described by postal information.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressRepresentation" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BinaryType">
		<xsd:annotation>
			<xsd:documentation>A data type for a digital representation of an object encoded in a binary format.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:BinaryObject" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ContactInformationType">
		<xsd:annotation>
			<xsd:documentation>A data type for how to contact a person or an organization.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ConveyanceType">
		<xsd:annotation>
			<xsd:documentation>A data type for a means of transport from place to place.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TangibleItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:TangibleItemType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DateType">
		<xsd:annotation>
			<xsd:documentation>A data type for a calendar date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:DateRepresentation" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentificationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a representation of an identity.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:IdentificationID" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationCategory" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationCategoryDescriptionText" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationEffectiveDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationExpirationDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:IdentificationJurisdiction" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ItemType">
		<xsd:annotation>
			<xsd:documentation>A data type for an article or thing.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LengthMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of length.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LocationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a geophysical location.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:LocationAddress" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:MeasureValue" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganizationType">
		<xsd:annotation>
			<xsd:documentation>A data type for a body of people organized for a particular purpose.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a name by which a person is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ProperNameTextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:ProperNameTextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PersonNameType">
		<xsd:annotation>
			<xsd:documentation>A data type for a combination of names and/or titles by which a person is known.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonGivenName" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="nc:PersonMiddleName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonSurName" minOccurs="1" maxOccurs="1"/>
					<xsd:element ref="nc:PersonNameSuffixText" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonType">
		<xsd:annotation>
			<xsd:documentation>A data type for a human being.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PersonBirthDate" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PersonName" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PhysicalFeatureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a prominent or easily identifiable aspect of something or someone.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:PhysicalFeatureGeneralCategoryText" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:PhysicalFeatureCategory" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PhysicalFeatureDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element ref="nc:PhysicalFeatureLocationText" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProperNameTextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a word or phrase by which a person or thing is known, referred, or addressed.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="TextType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="nc:TextType"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="StreetType">
		<xsd:annotation>
			<xsd:documentation>A data type for a road, thoroughfare, or highway.</xsd:documentation>
 			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:StreetFullText" minOccurs="0"/>
					<xsd:element ref="nc:StreetNumberText" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:StreetName" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StructuredAddressType">
		<xsd:annotation>
			<xsd:documentation>A data type for an address.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/structures/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="Object"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="s:ComplexObjectType">
				<xsd:sequence>
					<xsd:element ref="nc:AddressDeliveryPoint" minOccurs="0"/>
					<xsd:element ref="nc:LocationCityName" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LocationState" minOccurs="0"/>
					<xsd:element ref="nc:LocationCountry" minOccurs="0" maxOccurs="1"/>
					<xsd:element ref="nc:LocationPostalCode" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TangibleItemType">
		<xsd:annotation>
			<xsd:documentation>A data type for a physical object.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ItemType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ItemType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TextType">
		<xsd:annotation>
			<xsd:documentation>A data type for a character string.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:namespace="http://niem.gov/niem/proxy/xsd/2.0/CAJUD/CCMS/SendRestrainingOrderNotification-DSP917/Request" i:name="string"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="niem-xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="VehicleType">
		<xsd:annotation>
			<xsd:documentation>A data type for a motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ConveyanceType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:ConveyanceType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WeightMeasureType">
		<xsd:annotation>
			<xsd:documentation>A data type for a measurement of a weight.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureType"/>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="nc:MeasureType"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ActivityCategoryText" type="nc:TextType" nillable="true">
		<xsd:annotation>   
			 <xsd:documentation>A kind of activity.</xsd:documentation>
		 </xsd:annotation>   
	 </xsd:element>
	<xsd:element name="ActivityDate" type="nc:DateType" substitutionGroup="nc:ActivityDateRepresentation" nillable="true">
		<xsd:annotation>
		<xsd:documentation>A date of an activity.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ActivityDateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ActivityDateRepresentation" abstract="true">
		<xsd:annotation>   
			 <xsd:documentation>A date an activity occurs.</xsd:documentation>
		 </xsd:annotation>   
	</xsd:element>
	<xsd:element name="ActivityIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>   
			<xsd:documentation>An identification that references an activity.</xsd:documentation>
		 </xsd:annotation>   
	 </xsd:element>
	<xsd:element name="AddressDeliveryPoint" abstract="true">
		<xsd:annotation>   
			<xsd:documentation>A single place or unit at which mail is delivered.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="AddressFullText" type="nc:TextType" substitutionGroup="nc:AddressRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete address.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="AddressRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AddressRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of an address.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="AddressSecondaryUnitText" type="nc:TextType" substitutionGroup="nc:AddressDeliveryPoint" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A particular unit within a larger unit or grouping at a location.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryBase64Object" type="niem-xsd:base64Binary" substitutionGroup="nc:BinaryObject" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A binary encoding of data.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="BinaryObject"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryObject" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A binary encoding of data.</xsd:documentation>
		</xsd:annotation> 
	</xsd:element>
	<xsd:element name="CaseDocketID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identifier used to reference a case docket.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="ContactInformationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>Details about how to contact a person or an organization.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="ContactInformationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactMailingAddress" type="nc:AddressType" substitutionGroup="nc:ContactMeans" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A postal address by which a person or organization may be contacted.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="ContactMeans"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ContactMeans" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A means of contacting someone.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="ConveyanceRegistrationPlateIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification on a metal plate fixed to a conveyance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Date" type="niem-xsd:date" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A full date.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DateRepresentation" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A representation of a date.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="DocumentBinary" type="nc:BinaryType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A binary encoding of the content of a document.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="DocumentCategoryText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A kind of document; a nature or genre of the content.</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="DocumentDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of the content of a document.</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="DocumentFormatCategoryText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>The classification system used to define the specific format of the binary object or file.</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="DocumentTitleText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name given to a document.</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="ExpirationDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date after which information is no longer valid.</xsd:documentation>
		</xsd:annotation>
 	</xsd:element>
	<xsd:element name="IdentificationCategory" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A kind of identification.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="IdentificationCategoryDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a kind of identification.</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="IdentificationCategoryText" type="nc:TextType" substitutionGroup="nc:IdentificationCategory" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A kind of identification.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="IdentificationCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationEffectiveDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date an identification takes effect.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationExpirationDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date after which an identification is no longer valid.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IdentificationID" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A value that identifies something.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="IdentificationJurisdiction" abstract="true">
		<xsd:annotation>
			<xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="IdentificationJurisdictionText" type="nc:TextType" substitutionGroup="nc:IdentificationJurisdiction" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An area, region, or unit in which a unique identification is issued.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="IdentificationJurisdiction"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationAddress" type="nc:AddressType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A geophysical location described by postal information.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="LocationCityName" type="nc:ProperNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of a city or town.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="LocationCountry" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A country, territory, dependency, or other such geopolitical subdivision of a location.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationPostalCode" type="niem-xsd:string" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identifier of a post office-assigned zone for an address.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="LocationState" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="LocationStateName" type="nc:ProperNameTextType" substitutionGroup="nc:LocationState" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A state, commonwealth, province, or other such geopolitical subdivision of a country.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="LocationState"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LocationStreet" type="nc:StreetType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A road, thoroughfare or highway.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="AddressDeliveryPoint"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureText" type="nc:TextType" substitutionGroup="nc:MeasureValue" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement value.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="MeasureValue"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MeasureValue" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A measurement value.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>A reference identifier associated with an Organization date element.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="OrganizationType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganizationOtherIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An identification assigned to an organization.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>A reference identifier associated with a Person date element.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="PersonType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonBirthDate" type="nc:DateType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A date a person was born.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonGivenName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A first name of a person.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonHeightMeasure" type="nc:LengthMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the height of a person.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonMiddleName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A middle name of a person.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonName" type="nc:PersonNameType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A combination of names and/or titles by which a person is known.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonNameSuffixText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A term appended after the family name that qualifies the name.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonOtherIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>Information about an identifier with a kind that is not explicitly defined in the standard that refers to a person within a certain domain.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonPhysicalFeature" type="nc:PhysicalFeatureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A prominent or easily identifiable aspect of a person.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonSurName" type="nc:PersonNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A last name or family name of a person.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PersonWeightMeasure" type="nc:WeightMeasureType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A measurement of the weight of a person.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PhysicalFeatureCategory" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A specific kind of physical feature.</xsd:documentation>
		</xsd:annotation> 
	</xsd:element>
	<xsd:element name="PhysicalFeatureCategoryText" type="nc:TextType" substitutionGroup="nc:PhysicalFeatureCategory" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A specific kind of physical feature.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="PhysicalFeatureCategory"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PhysicalFeatureDescriptionText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A description of a physical feature.</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="PhysicalFeatureGeneralCategoryText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A general kind of physical feature.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="PhysicalFeatureLocationText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A location of a physical feature.</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="RoleOf" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A property of a role object. This specifies the base object, of which the role object is a function.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="RoleOfOrganizationReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
		<xsd:annotation>
			<xsd:documentation>An organization of whom the role object is a function.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="OrganizationType"/>
				<i:Base i:name="RoleOf"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RoleOfPersonReference" type="s:ReferenceType" substitutionGroup="nc:RoleOf">
		<xsd:annotation>
			<xsd:documentation>A person of whom the role object is a function.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="PersonType"/>
				<i:Base i:name="RoleOf"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="StreetFullText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A complete reference for a street (123 Main St NW).</xsd:documentation>
		</xsd:annotation>   
	</xsd:element>
	<xsd:element name="StreetName" type="nc:ProperNameTextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A name of a street.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="StreetNumberText" type="nc:TextType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A number that identifies a particular unit or location within a street.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="StructuredAddress" type="nc:StructuredAddressType" substitutionGroup="nc:AddressRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>An address.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="AddressRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleReference" type="s:ReferenceType">
		<xsd:annotation>
			<xsd:documentation>A motor-driven conveyance designed to carry its operator, and optionally passengers and cargo, over land.</xsd:documentation>
			<xsd:appinfo>
				<i:ReferenceTarget i:name="VehicleType"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="VehicleIdentification" type="nc:IdentificationType" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A unique combination of alphanumeric characters that identifies a specific vehicle.</xsd:documentation>
		</xsd:annotation>   
 	</xsd:element>
	<xsd:element name="Year" type="niem-xsd:gYear" substitutionGroup="nc:DateRepresentation" nillable="true">
		<xsd:annotation>
			<xsd:documentation>A year.</xsd:documentation>
			<xsd:appinfo>
				<i:Base i:name="DateRepresentation"/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
